<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Dinangelo</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">    <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dd95447648.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init({
              publicKey: "3JJeI2QTCMVKhZtKn",
            });
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // these IDs from the previous steps
                emailjs.sendForm('service_we2uskq', 'contact_form', this)
                    .then(() => {
                        alert('SUCCESS!');
                    }, (error) => {
                        alert('FAILED...', error);
                    });
            });
        }
    </script>
</head>
<body>
    <section class="header">
        <nav>
            <div class="logo-me">
                <a href="https://dinangelo.github.io"><span class="name-me">Dinangelo.R</span></a>
            </div>
            
            <div class="nav-links">
                <ul>
                    <li><a href="#Apropos" class="link">A propos</a></li>
                    <li><a href="#Skills" class="link">Competences</a></li>
                    <li><a href="#formations" class="link">Formation</a></li>
                    <li><a href="#Projects" class="link">Projets</a></li>
                    <li><a href="#contact" class="link">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1> Dinangelo Ravalijaona </h1>
            <p>DEVELOPPEUR WEB</p>
            <a href="#contact" class="hero-btn">Hire me</a>
        </div>
    </section>
    <section class="Apropos espace" id="Apropos">
        <div class="Apropos-container">
            <div class="row">
                <div class="me">
                    <img src="assets/img/image.png" alt="">
                </div>
                <div class="me">
                    <div>
                        <h1>A propos de moi</h1>
                    </div>
                    <p class="para_content">Après mes études dans l'informatique, l'électronique et la télécommunication, j'ai mis mes savoir-faire au service de client particulier en faisant des maintenances hardware et software. </p>
                    <p class="para_content">Récemment j'ai décidé de me réorienter vers la programmation et plus particulièrement le développement d'application Desktop et Web </p>
                    <p class="para_content">Je suis déterminé à me consacrer à la création d’applications après avoir travaillé
                        dans l'informatique sans me concentrer sur ce domaine. Cette expérience m'a
                        enrichi de nouvelles compétences techniques. <br/>Ma motivation est alimentée par un
                        désir constant d'apprendre et de m'améliorer, ainsi que par l'envie de contribuer à
                        des projets significatifs.</p>
                </div> 
            </div>   
        </div>
    </section>

    <!------ Skills ---->
    <section class="Skills" id="Skills">
        <div class="container-skills">
            <h1  class="compet-title">COMPETENCES</h1>     
            <div class="row-skills">
                <div>
                    <div class="row-col-img image-col">
                        <img src="assets/img/skills_back.jpg" alt="">
                    </div>
                </div>
                
                <div>
                    <div class="row-col">
                        <div class="skills-col">
                            HTML
                        </div>
                        <div class="skills-col">
                            CSS
                        </div>
                        <div class="skills-col">
                            Javascript
                        </div>
                        <div class="skills-col">
                            PHP
                        </div>
                        <div class="skills-col">
                            MySQL
                        </div>
                        <div class="skills-col">
                            GIT
                        </div>
                        <div class="skills-col">
                            SQL
                        </div>
                        <div class="skills-col">
                            SYMFONY
                        </div>
                        <div class="skills-col">
                            CODEIGNITER
                        </div>
                        <div class="skills-col">
                            JQUERY
                        </div>
                        <div class="skills-col">
                            AJAX
                        </div>
                        <div class="skills-col">
                            WORDPRESS
                        </div>
                        <div class="skills-col">
                            WINDEV
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <!----- Formation --->
    <section class="formations" id="formations">
        <h1>FORMATIONS</h1>
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            2012 - 2013 <br> IS-IESI ANJANAHARY
                        </div>
                        <div class="item-title">
                            DIPLÔME DE LICENCE PROFESSIONNELLE EN INFORMATIQUE
                        </div>
                        <div class="item-detail">
                            Creation d’une application de Gestion des petites et moyennes entreprises Client\Serveur sous Visual Basic 6
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            2011 - 2012 <br> IS-IESI Anjanahary
                        </div>
                        <div class="item-title">
                            DIPLÔME DE TECHNICIEN SUPERIEUR EN AUDIO VISUEL
                        </div>
                        <div class="item-detail">
                            Synthèse de l’audio-visuel : téléviseur, Caméscope, magnétoscope
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            2009 <br> Lycée privée Nomentsoa
                        </div>
                        <div class="item-title">
                            DIPLÔME BACCALAUREAT 
                        </div>
                        <div class="item-detail">
                            Serie A2
                        </div>
                    </li>
                </ul>
        </div>
    </section>

    <!-------- Projets ------>
    <section class="Projects" id="Projects">
        <div class="main-container">
            <h2 class="heading heading-sec heading-sec__mb-bg">
              <span class="heading-sec__main">Projets</span>
              <span class="heading-sec__sub">
                Ici vous trouverez mes projets personnels et aussi des projets que j'ai fait pour une entreprise ou un client particulier.
              </span>
            </h2>
      
            <div class="projects__content">
                <div class="projects__row">
                    <div class="projects__row-img-cont">
                    <img src="assets/img/report.JPG" alt="Software Screenshot" class="projects__row-img" loading="lazy">
                    </div>
                    <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Live report</h3>
                    <p class="projects__row-content-desc">
                        Une application web pour generer un rapport a partir des données sql server vers Excel.
                    </p>
                    </div>
                </div>
                <div class="projects__row">
                    <div class="projects__row-img-cont">
                    <img src="assets/img/fdaMenu.jpg" alt="Software Screenshot" class="projects__row-img" loading="lazy">
                    </div>
                    <div class="projects__row-content">
                    <h3 class="projects__row-content-title">I-tetikasa</h3>
                    <p class="projects__row-content-desc">
                        I-tetikasa est une application web de suivi evaluation créée sur mesure pour la société FDA (Fond de développement Agricole).
                    </p>
                    </div>
                </div>
            </div>
          </div>
    </section>


<!-------- Contact ------>
    <section class="cta" id="contact">
        <div class="container">
            <form id="contact-form" enctype="text/plain">
          
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="fname" placeholder="Votre nom" required>
        
              <label for="email">Mail adress</label>
              <input type="email" id="email" name="email" placeholder="Votre mail" required>

              <label for="subject">Message</label>
              <textarea id="subject" name="subject" placeholder="Un message" style="height:200px" required></textarea>
          
              <input type="submit" value="Envoyer">
          
            </form>
          </div>
    </section>

    <!---- footer -->
    <section class="footer">
        <div class="icons">
            <a href="https://www.facebook.com/dinangelo.ravalijaona"><i class="fa-brands fa-facebook fa-2xl"></i></a> 
            <a href="https://www.linkedin.com/in/dina-ravalijaona-38863a194/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
            <a href="https://github.com/Dinangelo"><i class="fa-brands fa-github fa-2xl"></i></a>
        </div>
        <p> &copy Copyright <script>document.write(new Date().getFullYear())</script> by Dinangelo Ravalijaona</p>
    </section>

 </body>
</html>