<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Dinangelo</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="">ACCEUIL</a></li>
                    <li><a href="">A PROPOS</a></li>
                    <li><a href="">COMPETENCES</a></li>
                    <li><a href="">FORMATIONS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1> Dinangelo Ravalijaona </h1>
            <p>DEVELOPPEUR WEB</p>
            <a href="/about" class="hero-btn">Hire me</a>
        </div>
    </section>
    <section class="course">
        <div class="row">
                <div class="me">
                    <img src="assets/img/image.png" alt="">
                </div>
                <div class="me">
                    <div>
                        <h1>A propos de moi</h1>
                    </div>
                    <p>Apres mes etudes dans l'informatique et l'electronique, j'ai mis mes competences au service de client particulier en etant consultant et assistant informatique a la fois. </p>
                    <p>Recemment j'ai decidé de me reorienter vers la programmation et plus particulierement le web.</p>
                </div> 
        </div>   
    </section>

    <!------ campus ---->
    <section class="Skills">
        <div class="container-skills">
            <h1  class="compet-title">COMPETENCES</h1>     
            <div class="row-skills">
                <div>
                    <div class="row-col-img image-col">
                        <img src="assets/img/developer.png" alt="">
                    </div>
                </div>
                
                <div>
                    <div class="row-col">
                        <div class="skills-col">
                            HTML
                        </div>
                        <div class="skills-col">
                            CSS
                        </div>
                        <div class="skills-col">
                            Javascript
                        </div>
                        <div class="skills-col">
                            PHP
                        </div>
                        <div class="skills-col">
                            MySQL
                        </div>
                        <div class="skills-col">
                            GIT
                        </div>
                        <div class="skills-col">
                            SQL
                        </div>
                        <div class="skills-col">
                            SYMFONY
                        </div>
                        <div class="skills-col">
                            CODEIGNITER
                        </div>
                        <div class="skills-col">
                            JQUERY
                        </div>
                        <div class="skills-col">
                            AJAX
                        </div>
                        <div class="skills-col">
                            WORDPRESS
                        </div>
                    </div>
                </div>
                     
            </div>
        </div> 
    </section>

    <!----- Formation --->
    <section class="formations">
        <h1>FORMATIONS</h1>
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            2012 - 2013 <br> IS-IESI ANJANAHARY
                        </div>
                        <div class="item-title">
                            DIPLÔME DE LICENCE PROFESSIONNELLE EN INFORMATIQUE
                        </div>
                        <div class="item-detail">
                            Creation d’une application de Gestion des petites et moyennes entreprises Client\Serveur sous Visual Basic
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            2011 - 2012 <br> IS-IESI Anjanahary
                        </div>
                        <div class="item-title">
                            DIPLÔME DE TECHNICIEN SUPERIEUR EN AUDIO VISUEL
                        </div>
                        <div class="item-detail">
                            Synthèse de l’audio-visuel : téléviseur, Caméscope, magnétoscope
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            2009 <br> Lycée privée Nomentsoa
                        </div>
                        <div class="item-title">
                            DIPLÔME BACCALAUREAT 
                        </div>
                        <div class="item-detail">
                            Serie A2
                        </div>
                    </li>
                </ul>
        </div>
    </section>

    <!-------- Projets ------>
    <section class="Projects">
        <div class="main-container">
            <h2 class="heading heading-sec heading-sec__mb-bg">
              <span class="heading-sec__main">Projects</span>
              <span class="heading-sec__sub">
                Ici vous trouverez mes projets personnels et aussi des projets que j'ai fait pour une entreprise ou un client particulier.
              </span>
            </h2>
      
            <div class="projects__content">
                <div class="projects__row">
                    <div class="projects__row-img-cont">
                    <img src="assets/img/report.JPG" alt="Software Screenshot" class="projects__row-img" loading="lazy">
                    </div>
                    <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Live report</h3>
                    <p class="projects__row-content-desc">
                        Une application web pour generer un rapport a partir de sql server vers Excel.
                    </p>
                    </div>
                </div>
                <div class="projects__row">
                    <div class="projects__row-img-cont">
                    <img src="assets/img/Fda.png" alt="Software Screenshot" class="projects__row-img" loading="lazy">
                    </div>
                    <div class="projects__row-content">
                    <h3 class="projects__row-content-title">I-tetikasa</h3>
                    <p class="projects__row-content-desc">
                        I-tetikasa est une application web de suivi evaluation au sein de la société FDA (Fond de développement Agricole).
                    </p>
                    <a class="btn btn--med btn--theme dynamicBgClr" href="https://www.rammaheshwari.com/project-2" target="_blank">Case Study</a>
                    </div>
                </div>
            </div>
          </div>
    </section>


<!-------- Call to Action ------>
    <section class="cta" id="contact">
        <a href="" class="hero-btn">CONTACT</a>
    </section>

    <!---- footer -->
    <section class="footer">
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p> &copy Copyright <?php echo date('Y'); ?> by Dinangelo Ravalijaona</p>
    </section>

 </body>
</html>